<div [id]="identifier">
  <div class="accordion" id="accordionExample">
    <div class="card" *ngFor="let collapse of arrCollapse; index as i">
      <button
        class="card-header collapsed card-link"
        [class.accordion-card-icon]="isIcon"
        data-toggle="collapse"
        [attr.data-target]="'#' + identifier + i"
      >
        {{ collapse.title }}
      </button>
      <div [id]="identifier + i" class="collapse" [attr.data-parent]="!isMultipleSelection ? '#' + identifier : ''">
        <div class="card-body">
          {{ collapse.description }}
        </div>
      </div>
    </div>
  </div>
</div>
